{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<!--    <title>Поиск изображений</title>-->
    <link rel="stylesheet" href="{% static 'styleBase.css' %}">
</head>
<body>
<div class="page">
    <div class="header">

        <div class="LeftButton">
            <div><a href="{% url 'main' %}">Главная</a></div>
            <div><a href="{% url 'main' %}">Поиск изображения</a></div>
        </div>

        <div class="RightButton">
            {% if user.is_anonymous %}
                <div><a href="{% url 'auth' %}">Войти</a></div>
                <div><a style="background: #0d4382" href="{% url 'registration' %}">Регистрация</a></div>
            {% else %}
                <div><a href="{% url 'logout' %}">Выйти</a></div>
                <div><a href="{% url 'image' %}">Загрузить изображение</a></div>
            {% endif %}
        </div>

    </div>

        <div class="content">{% block content %}{% endblock %}</div>

    <footer class="footer">
        <div class="footer-content">
            Footer Text
        </div>
    </footer>
</div>
</body>
</html>