
{% extends 'web/base.html' %}
{% load static %}
{% block content %}
<head>
    <title>Главная</title>
    <link rel="stylesheet" href="{% static 'styleMain.css' %}">
</head>
<div class="contentNew">
    <main class="content">
            <h1 class="title">Загрузить изображение</h1>
                <form enctype="multipart/form-data" method="post">
                    <p>
                        <input type="file" name="f">
                        <input type="submit" value="Отправить">
                    </p>
                </form>
    </main>
</div>
{% endblock %}