{% extends 'web/base.html' %}
{% load static %}
{% block content %}
<head>
    <title>Регистрация</title>
    <link rel="stylesheet" href="{% static 'styleRegistr.css' %}">
</head>

<div class="Window">
        <div class="main">
            {% if is_success %}
                <p>Спасибо за регистрацию!</p>
            {% else %}
                <form action="" method="post">
                    {% csrf_token %}
                    <label aria-hidden="true">Регистрация</label>
                    <input type="text" name="username" placeholder="Имя пользователя" required="">
                    <input type="email" name="email" placeholder="Почта" required="">
                    <input type="password" name="password" placeholder="Пароль" required="" id="id_password">
                    <input type="password" name="password2" placeholder="Повторите пароль" required="" id="id_password2">
                    <button class="registrButton">Зарегистрироваться</button>
                </form>
            {% endif %}
        </div>
    </div>
{% endblock %}